{% extends "template.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
    <h2>Productos</h2>
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="sku">SKU:</label>
        <input type="text" id="sku" name="sku" required><br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required><br>

        <button type="submit" class="btn">Guardar Producto</button>
    </form>
{% endblock %}
